<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form action="/create" method="post" th:object="${book}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
            <td style="color: #801010" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{author}"></td>
            <td style="color: #801010" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="text" th:field="*{amount}"></td>
                    </tr>
        <tr>
            <td><a href="/">Back</a></td>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>