<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Detail Product</h1>
<table>
    <tr>
        <th>STT</th>
        <th>Name Product</th>
        <th>Price Product</th>
        <th>Discribe</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:object="${products}" >
        <td th:text="*{getId()}"></td>
        <td th:text="*{getName()}"></td>
        <td th:text="*{getPrice()}"></td>
        <td th:text="*{getDescribe()}"></td>
        <td th:text="*{getProducer()}"></td>
        <td>
            <a th:href="@{/showFormEdit/{id}(id=*{getId()})}">
                <button>Edit</button>
            </a>
        </td>
        <td>
            <a th:href="@{/delete/{id}(id=*{getId()})}">
                <button>Delete</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>