<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giỏ hàng của bạn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<h2>Giỏ hàng của bạn</h2>
<p><a href="/shop">Quay về trang chính</a></p>
<p style="color: red" th:text="${msg}"></p>
<form th:action="@{/shop}" th:object="${cart}" method="post">
    <h3>Tổng số mặt hàng: <span th:text="${cart.countItemQuantity()}"></span></h3>
    <h3>Tổng số sản phẩm: <span th:text="${cart.countProductQuantity()}"></span></h3>
    <table border="1">
        <tr>
            <th>Tên sản phẩm</th>
            <th>Ảnh</th>
            <th>Số lượng</th>
            <th>Giá</th>
        </tr>
        <tr th:each="product: ${cart.products}">
            <td th:text="${product.getKey().name}"></td>
<!--            <td><img  th:src="${product.img}" alt="" th:width="70"></td>-->
            <td>
                <a class="m-2" id="delete_button" style="text-decoration: none; color: black" th:href="@{/delete/__${product.getKey().id}__(action='show')}"
                   th:text="${'Xóa'}"></a>
                <a class="m-2" id="decrease_button" style="text-decoration: none; color: black" th:href="@{/down/__${product.getKey().id}__(action='show')}"
                   th:text="${'Giảm'}"></a>
                <span th:text="${product.getValue()}"></span>
                <a class="m-2" id="increase_button" style="text-decoration: none; color: black" th:href="@{/add/__${product.getKey().id}__(action='show')}"
                   th:text="${'Tăng'}"></a>
            </td>
            <td th:text="${product.getKey().price}"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td th:text="${cart.countTotalPayment()}"></td>
        </tr>
    </table>
    <a th:href="@{/payment}"  class="btn btn-primary btn-sm">
        Thanh toán
    </a>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>