body {
    background: #ffffff;
    min-height: 100vh;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.title {
    margin-bottom: 5vh;
}

.card {
    background-color: #fff;
    padding: 4vh 5vh;
    /*border-bottom-left-radius: 1rem;*/
    /*border-top-left-radius: 1rem;*/
    margin: auto;
    max-width: 950px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

@media (max-width: 767px) {
    .card {
        margin: 3vh auto;
    }
}


.cart-order {
    overflow-x: hidden;
    overflow-y: auto;
    height: 25rem;
}

.information {
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
    max-height: 15rem;
    padding: 1vh;

}

@media (max-width: 767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;

    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}

@media (max-width: 767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}

.summary .col-2 {
    padding: 0;
}

.summary .col-10 {
    padding: 0;
}

.row {
    margin: 0;
}

.title b {
    font-size: 1.5rem;
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}

.col-2, .col {
    padding: 0 1vh;
}

a {
    padding: 0 1vh;
}

.close {
    float: right;
    font-size: 0.7rem;
    margin-right: 10px;
}

.img-cart {
    width: 3.5rem;
}

.back-to-shop {
    margin-top: 4.5rem;
}

h5 {
    margin-top: 4vh;
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    margin-bottom: 3vh;
    outline: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.btn-cart {
    width: 100%;
    font-size: 1rem;
    border: 1px #ffffff;
    /*background-color: #ffffff;*/
}
.pay{
    margin-top: 20px;
    background-color: #90bc79!important;
    border-radius: 5px;
}
.btn-cart:focus {
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none;
}
a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}
.btn-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.btn-minus,
.btn-plus {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    border: 1px solid whitesmoke !important;
    width: 30px !important;
    padding: 2px 2px !important;
    border-radius: 5px !important;
    margin: 1px;
    cursor: pointer;
}

.btn-minus:hover,
.btn-plus:hover {
    background-color: #90bc79;
}
